:root {
    /*Fonts*/
    --logo-font: "Raleway", sans-serif;
    --main-font: "Roboto", sans-serif;
    /* Backgraund colors */
    --main: #f5f5f5;
    /*Text-colors*/
    --color-nav-link: #212121;
    --accent-text-color: #2196f3;
    --color-contacts-link: #757575;
    --color-text-hero: #ffffff;
    --color-text-title-feature: #212121;
    --color-text-feature: #757575;
    --color-logo-title: #2196F3;
    --color-logo-list: #000000;


}

body {
    font-family: var(--logo-font);
    font-family: var(--main-font);
    background-color: var(--main);
    font-family: logo-font"Raleway",sans-serif;
}

ul {
    list-style: none;
}

/*Header*/

.logo-title {
    color: var(--color-logo-title)
}

.logo-list {
    color: var(--color-logo-list)
}


.header {
    background-color: #FFFFFF;

}


.hero {
    background-color: #2F303A;

}




.site-nav .link {
    color: var(--color-nav-link);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}

.contacts .contacts-link {
    color: var(--color-contacts-link);
}

.site-nav .link-current {
    color: var(--accent-text-color);
}

.contacts-link-list {
    color: var(--color-contacts-link);
}

.contacts-link-list:hover,
.contact-footer-list:focus {
    color: var(--accent-text-color)
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-text-color);
}

/*Section-hero*/

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--color-text-hero);

}

.button {
    width: 152px;
    height: 30px;
    top: 440px;
    left: 724px;
}

.hero-button {
    color: #ffffff;
    background-color: #2196F3;
    width: 216px;
    height: 50px;
    top: 430px;
    left: 692px;
    padding: 4px;
}

.secondery {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
}




.work {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #FFFFFF;
}


.tiam {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

/*Bg*/


/*Section-feature*/

.section-title {
    color: var(--color-text-title-feature);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-text {
    color: var(--color-text-feature);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*Contact-footer*/

.contact-footer-link {
    color: #ffffff
}

.contact-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
    background-color: #2F303A;
}

.logo-list {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;
}

.logo-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.2;
    letter-spacing: 0.03em;
}

.logo-list-foter {
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    letter-spacing: 0.03em;
}

